@charset "utf-8";
/*layout.css*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    font: 20px 'Nanum Gothic', dotum, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.margintop {margin-top: 45px;}
.bg-1 { 
    background-color: #FFB6C1; /* Pink */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
#bg-4 { 
	padding-top: 50px;
	background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
#navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

#clock { 
    text-shadow: #1abc9c;
    font-size: xx-large;
    font-weight: bolder;
}

#tb { 
    margin:auto; 
    text-align: center;
    font-size: smaller;
    font-weight: bolder;
}

.b{text-align: center;}

.form-field{
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
    line-height: 1;
    text-align: center;
    position: relative;
}
